*{
	box-sizing: border-box;
	margin: 0;padding: 0;
}
html{
	width: 100%;
	height: 100%;
	word-break:break-all;
}
body{
	width: 100%;
	height:100%;
}


a{
	color: cornflowerblue;
	text-decoration: none;
	word-break: break-all;
}
a:hover{
	color: #1890ff;
}
a:active{
	color: red;
}
*:before,*:after{
	box-sizing: border-box;
}
ul {list-style-type: none;font-size: 1em;}
ul li span{color: #1890ff;border: 1px solid #1890ff;width: 15px;height: 15px;display: inline-block;text-align: center;
    border-radius: 50%;vertical-align: middle;margin-right:15px;line-height: 12px;
    cursor: default;background: #fff;}




.lists {
	width:30%;
	height: 100%;
	position: relative;
}

.l_tree {
	width: calc(100% - 0px);
	height: 100%;
	padding-left: 22px;
}
.l_tree_branch {
	width: fit-content;
	height: 100%;
	display: block;

    position: relative;
    padding:5px 10px;
}

ul.l_tree:before {
	content: '';
    border-left: 1px dotted #999a9c;
    height: calc(100%);
    position: absolute;
    left: 40px;
    top: 20px;
}
.l_tree,
.l_tree_branch {
	position: relative;
}

.l_tree_branch::after {
	content: '';
	width: 15px;
	height: 0;
	border-bottom: 1px dotted #999a9c;
	position: absolute;
	right: calc(100% - 40px);
	top: 18px;
}


.right{
	width: 80%;
	height: auto;
	/*background-color: black;*/

}

.sticky{
	position: sticky;
	top: 50px;
	width: 90%;
	margin:50px auto auto 10px;
}

.window{
	display: none; /* 默认隐藏 */
	position: fixed;
	z-index: 2147483646;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration: 0.4s;
	animation-name: fadeIn;
	animation-duration: 0.4s;
}

/* 弹窗内容 */
.window-content {
	position: fixed;
	top: 20%;
	background-color: aliceblue;
	width: 100%;
	-webkit-animation-name: slideIn;
	-webkit-animation-duration: 0.4s;
	animation-name: slideIn;
	animation-duration: 0.4s;
	height:80%;
	/*min-height: 200px!important;*/
	border-radius: 30px 30px 0 0 ;
	z-index: 21474801;
	overflow-y: auto;
}

/* 关闭按钮 */
.window-content-close {
	color: black;
	float: right;
	margin-right: 50px;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

/* 添加动画 */
@-webkit-keyframes slideIn {
	from {top: -300px; opacity: 0}
	to {top: 20%; opacity: 1}
}

@keyframes slideIn {
	from {top: -300px; opacity: 0}
	to {top: 20%; opacity: 1}
}

@-webkit-keyframes fadeIn {
	from {opacity: 0}
	to {opacity: 1}
}

@keyframes fadeIn {
	from {opacity: 0}
	to {opacity: 1}
}

.aa{
	border-top: solid 1px rgb(105, 140, 195);
	border-left: solid 1px rgb(105, 140, 195);
	border-right: solid 1px rgb(105, 140, 195);
	border-bottom: solid 1px rgb(105, 140, 195);
}

input{
	font-family: Arial, sans-serif !important;
}
textarea{
	font-family: Arial, sans-serif !important;
}
pre{
	font-family: Arial, sans-serif !important;
	cursor: pointer;
}

.qwe{
	position: relative;
	min-height: 38px;
}
.qwe button{
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto auto auto 82%;
	height: 20px;
}
.qwe input{
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	height: 20px;
}

.qwe textarea{
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	min-height: 100px;max-height: 100px;max-width: 90%;min-width:90%
}
.qwe b{
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto auto auto 85%;
	height: 20px;
}

input{
	ime-mode:disabled;
}


.qzwindow{
	display: none; /* 默认隐藏 */
	position: fixed;
	z-index: 2147483647;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	-webkit-animation-name: fadeInQz;
	-webkit-animation-duration: 0.4s;
	animation-name: fadeInQz;
	animation-duration: 0.4s;
}

/* 弹窗内容 */
.qz-window-content {
	position: fixed;
	top: 0;
	background-color: aliceblue;
	width: 100%;
	-webkit-animation-name: slideInQz;
	-webkit-animation-duration: 0.4s;
	animation-name: slideInQz;
	animation-duration: 0.4s;
	height:100%;
	/*min-height: 200px!important;*/
	/*border-radius: 30px 30px 0 0 ;*/
	z-index: 21474801;
	overflow-y: auto;
}
/* 关闭按钮 */
.qz-window-content-close {
	color: black;
	/*float: right;*/
	/*margin-right: 50px;*/
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
	position: absolute;
	margin-left: 90%;
	top: 2%;

}

/* 添加动画 */
@-webkit-keyframes slideInQz {
	from {top: -300px; opacity: 0}
	to {top:0; opacity: 1}
}

@keyframes slideInQz {
	from {top: -300px; opacity: 0}
	to {top: 0; opacity: 1}
}

@-webkit-keyframes fadeInQz {
	from {opacity: 0}
	to {opacity: 1}
}

@keyframes fadeInQz {
	from {opacity: 0}
	to {opacity: 1}
}

