<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongbang.mapper.BomPurviewMapper">
    <insert id="addPurview">
        insert into bom_purview (id, fin_bom_title_id, user_purview, can_edit,delete_sign,review_app_id)
        values
        <foreach collection="bomPurview" item="bomPurview" index="index" separator="," >
            (
            null,
            #{bomPurview.finBomTitleId,jdbcType=INTEGER},
            #{bomPurview.userPurview,jdbcType=INTEGER},
            #{bomPurview.canEdit,jdbcType=INTEGER},
             0,
             #{bomPurview.reviewAppId,jdbcType=INTEGER}
            )
        </foreach>
    </insert>


</mapper>