<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongbang.mapper.FormCkMapper">

    <insert id="add">
        insert into form_ck(id, app_form_id, product_id, vault, ck_number,ck_time, ck_sort, ck_total) VALUES
        <foreach collection="formCks" separator="," index="index" item="formCks">
            (null,#{formCks.appFormId,jdbcType=INTEGER},#{formCks.productId,jdbcType=INTEGER},#{formCks.vault,jdbcType=INTEGER},#{formCks.ckNumber,jdbcType=DOUBLE},#{formCks.ckTime,jdbcType=VARCHAR},#{formCks.ckSort,jdbcType=INTEGER},#{formCks.ckTotal,jdbcType=DOUBLE})
        </foreach>
    </insert>

<!--    根据时间查询出库信息-->
    <select id="selectCkFormListBy" resultType="java.util.Map">
select * from (select a.*,application_form.sort_two from ( select form_ck.*,product.name,material_number from form_ck left join product on form_ck.product_id = product.id  and form_ck.vault=product.vault ) as a
                                                             left join application_form on a.app_form_id =application_form.id
               union all
               select b.*,application_form.sort_two from ( select form_ck.*,fin_product.fin_product_name as name ,fin_material_number as material_number  from form_ck left join fin_product on form_ck.product_id = fin_product.id  and form_ck.vault=fin_product.vault ) as b
                                                             left join application_form on b.app_form_id =application_form.id) as c
        <where>
            <if test="maps.betweenDate !=null and maps.betweenDate !=''  ">
               c.ck_time > #{maps.betweenDate} and
            </if>
            <if test="maps.andDate !=null and maps.andDate !='' ">
                #{maps.andDate} >  c.ck_time and
            </if>
            <if  test="maps.betweenDate !=null and maps.andDate !=null and maps.betweenDate !='' and maps.andDate !='' " >

                c.ck_time between #{maps.betweenDate} and #{maps.andDate} and

            </if>

            <if  test=" maps.vault != null and maps.vault != '' " >
                c.vault=#{maps.vault,jdbcType=INTEGER} and
            </if>
            <if  test=" maps.sortTwo != null and maps.sortTwo != '' " >

                c.sort_two=#{maps.sortTwo,jdbcType=INTEGER} and
            </if>
           c.sort = 1
        </where>

    </select>

</mapper>