<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongbang.mapper.ReturnNumberMapper">

    <select id="sumByCgIdAndType" resultType="java.lang.Double">
        SELECT
            COALESCE(SUM(number), 0)
        FROM return_number
        WHERE cgId = #{cgId}
          AND type = #{type}
    </select>
</mapper>